/*--------------------------------------------------------------
## Animate Styling
--------------------------------------------------------------*/

.cursor {
  display: inline-block;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* ------------ Page Transition Styles ------------ */

.page--transition {
  opacity: 0;
  will-change: opacity;
  z-index: 9999;
  &.fade--out {
    animation: fadeOut 0.25s ease forwards;
  }
  &.fade--in {
    animation: fadeIn 0.4s ease forwards 0.5s;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}