/*--------------------------------------------------------------
## Button Styling
--------------------------------------------------------------*/

.button {
	display: flex;
	align-items: center;
	cursor: pointer;
	gap: 5px;
	&:before {
		content:'';
		width:10px;
		aspect-ratio: 1;
		display: inline-block;
		background-image: url('../images/arrow.svg');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
	}
}

.link-gr {
	color:rgba(24,24,24,.5);
	transition: 0.4s color ease;
	&:before {
		opacity: 0.5;
		transition: 0.4s opacity ease;
	}
	&:hover {
		color: #181818;
		&:before {
			opacity: 1;
		}
	}
}

.button.open {
	color:rgba(24,24,24,.4);
	transition: 0.4s opacity ease;
	&:before {
		opacity: 0.4;
		transition: 0.4s opacity ease;
	}
}

.tag {
	text-transform: capitalize;
	background-color: #eee;
	color: rgba(0,0,0,.5);
	padding: 2px 5px;
	font-size: 10px;
}