/*--------------------------------------------------------------
## Footer Styling
--------------------------------------------------------------*/

.colophon {
	z-index: 3;
	width: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
}