/*--------------------------------------------------------------
## Header Styling
--------------------------------------------------------------*/

.logo--main {
	width: 75px;
	aspect-ratio: 73/18;
	background-image: url('../images/logo-100.svg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.masthead {
	top: 0px;
	left: 0px;
	width: 100%;
	position: fixed;
	z-index: 10;
}

.masthead .information {
	height: auto;
  	overflow: hidden;
 	transition: height 0.65s ease;
 	.internal {
 		opacity: 0;
  		transition: opacity 0.5s ease;
  		&.is-open {
  			opacity: 1;
  		}
 	}
}